*.gradle
backend/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
backend/nbproject/private/
backend/build/
backend/nbbuild/
backend/dist/
backend/nbdist/
/.nb-gradle/

*node_modules

.DS_Store

# Setup logs
setup.log
webapp/build
